.vscode
*.pyc
__pycache__
affectivecloud.egg-info
build
dist
./simple.py
./headband_relatime_gui_demo.py
./*.txt
*.eeg
*.eeg.src
./simple.py
./headband_relatime_gui_demo.py
./offline.py
./pepr.txt
./offline.py
./eeg.txt
./headband_relatime_gui_demo.py